#beach-image h1 {
    display: table;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
#beach-image a {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#beach-image a img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}