.background-image-nav {
    background-image: url("./images/vladimir-kudinov-RKiMg1bwsMY-unsplash.jpg");
    height: 3em;
}

.container {
    font-family: 'Kalam', cursive;
}

h1, h3, h4, h5 {
    font-family: 'Rock Salt', cursive;
}

p {
  font-size: 12pt;
}

.background-image {
    
    background-image: url("./images/vladimir-kudinov-RKiMg1bwsMY-unsplash.jpg");
    color: #ffffff;
}

.translucent-form-overlay {
    max-width: 500px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
  }
  
  .translucent-form-overlay label {
    color: #fefefe;
  }

  .form {
      padding-bottom: 10px;
  }
  
   /* To keep google map responsive*/
  iframe {
    max-width:100%
  }

  /* Decorative water apended to bottom of form*/
  .surf-img {
      height: 30px;
      background-image: url("./images/vladimir-kudinov-RKiMg1bwsMY-unsplash.jpg");
      width: 100%;
  }

.beach_name{
  padding-bottom: 1.5rem;
}

.warning_title{
  padding-bottom: 1.5rem;
}

.beach_data_block{
  float:left;
  margin-left: 0px;
  padding-left: 0px;

}

.tabs-title{
  list-style-type: none;
  border: 1pt solid lightgray;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs-content {
  list-style-type: none;
  margin-left: 0px;
    

}
.tabs{
  border: none;
}

#tab-object{
  border: none;
}

.tabs-title>a {
  padding: 0.8rem;
}

thead {
  visibility: hidden
}
  .res_table, .results{ 
    position:relative;
    float:left;
  }

.results_rownames{
  font-weight: 600;
}

  /* Horizontally centres modal*/
  @media print, screen and (min-width: 40em) {
    #exampleModal1{
      height: 400px;
      width: 600px;
      left: 50% !important;
      transform: translatex(-50%);
    }
  }
  
  #footer{
    height: 60px;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    background-image: url("./images/vladimir-kudinov-RKiMg1bwsMY-unsplash.jpg");
}
